.hyperlink {
    -fx-text-fill: cornflowerblue;
    -fx-focus-color: transparent;
}

.hyperlink:hover, .hyperlink:hover:visited {
    -fx-text-fill: firebrick;
    -fx-underline: false;
}

.hyperlink:visited {
    -fx-text-fill: cornflowerblue;
    -fx-underline: false;
}

.scroll-pane:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}