/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.label, .button, .choice-box, .text-field {
    -fx-text-fill: derive(darkgray, -50%);
}

/*noinspection CssUnusedSymbol*/
.button, .choice-box {
    -fx-focus-color: darkgray;
    -fx-background-color: whitesmoke;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.choice-box, .text-field {
    -fx-background-color: white;
    -fx-border-insets: 0.5%;
}

/*noinspection CssUnusedSymbol*/
.choice-box > .context-menu {
    -fx-start-margin: 15px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.text-field, .button, .choice-box {
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.text-field:hover, .button:hover, .choice-box:hover {
    -fx-border-color: darkgray;
}

.button.no-border {
    -fx-border-width: 0px;
}

.button.no-border:hover, .button.no-border:hover:visited {
    -fx-text-fill: firebrick;
    -fx-underline: false;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.scroll-pane:focused, .list-view:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

/*noinspection CssUnusedSymbol*/
.menu-bar {
    -fx-background-color: whitesmoke;
    -fx-border-color: lightgray;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-padding: 0px;
}

/*noinspection CssUnusedSymbol*/
.menu-bar .menu-button {
    -fx-padding: 2px 10px;
}

/*noinspection CssUnusedSymbol*/
.context-menu {
    -fx-border-color: lightgray;
    -fx-border-radius: 4px;
    -fx-background-color: whitesmoke;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(30, 30, 30, 0.3), 3, 0.1, 1, 1);
}

/*noinspection CssUnusedSymbol*/
.red-text {
    -fx-text-fill: red;
}

.notification {
    -fx-font-family: monospace;
    -fx-font-weight: normal;
}

.warn-notification, .error-notification {
    -fx-text-fill: whitesmoke;
}

.notification > .ikonli-font-icon {
    -fx-icon-size: 22px;
}

.no-notification > .ikonli-font-icon {
    -fx-icon-code: gmi-notifications-none;
    -fx-icon-color: darkgray;
}

.log-notification > .ikonli-font-icon, .info-notification > .ikonli-font-icon, .warn-notification > .ikonli-font-icon {
    -fx-icon-code: gmi-notifications;
    -fx-icon-color: darkgray;
}

.info-notification > .ikonli-font-icon {
    -fx-icon-color: derive(greenyellow, -15%);
}

.warn-notification > .ikonli-font-icon {
    -fx-icon-color: darkorange;
}

.error-notification > .ikonli-font-icon {
    -fx-icon-code: gmi-notifications-active;
    -fx-icon-color: firebrick;
}