/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.label, .button, .choice-box, .text-field {
    -fx-text-fill: derive(darkgray, -50%);
}

/*noinspection CssUnusedSymbol*/
.button, .choice-box {
    -fx-focus-color: darkgray;
    -fx-background-color: whitesmoke;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.choice-box, .text-field {
    -fx-background-color: white;
    -fx-border-insets: 0.5%;
}

/*noinspection CssUnusedSymbol*/
.choice-box > .context-menu {
    -fx-start-margin: 15px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.text-field, .button, .choice-box {
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.text-field:hover, .button:hover, .choice-box:hover {
    -fx-border-color: darkgray;
}

.no-border {
    -fx-border-width: 0px;
}

/*TODO: anders lösen*/
.tree-view.no-border {
    -fx-border-width: 0px;
    -fx-border-insets: 0px;
    -fx-background-insets: 0;
    -fx-padding: -1px;
}

.button.no-border {
    -fx-background-color: transparent;
}

.button.no-border:hover, .button.no-border:hover:visited {
    -fx-text-fill: firebrick;
    -fx-underline: false;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.scroll-pane, .scroll-pane:focused,
.split-pane, .split-pane:focused,
.tree-view, .tree-view:focused,
.table-view, .table-view:focused,
.tree-table-view, .tree-table-view:focused,
.list-view, .list-view:focused {
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
}

.scroll-pane.white, .scroll-pane.white:focused {
    -fx-background-color: white;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.list-view .list-cell:selected .text {
    -fx-text-fill: white;
}

/*noinspection CssUnusedSymbol*/
.menu-bar {
    -fx-background-color: whitesmoke;
    -fx-border-color: lightgray;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-padding: 0px;
}

/*noinspection CssUnusedSymbol*/
.menu-bar .menu-button {
    -fx-padding: 2px 10px;
}

.menu-button:hover, .menu-button:showing, .menu-button:showing, .menu-item:hover, .menu-item:focused, .list-view .list-cell:selected {
    -fx-background-color: cornflowerblue;
}

.menu-button:hover > .label, .menu-button:showing > .label, .menu-button:showing > .label, .menu-item:hover > .label, .menu-item:showing > .label, .list-view .list-cell:selected > .text {
    -fx-text-fill: white;
}

.dialog-pane {
    -fx-background-color: whitesmoke;
}
/*noinspection CssUnusedSymbol*/
.context-menu {
    -fx-border-color: lightgray;
    -fx-border-radius: 0px;
    -fx-background-color: whitesmoke;
    -fx-background-radius: 0px;
    -fx-padding: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(30, 30, 30, 0.1), 3, 0.1, 1, 1);
}

/*noinspection CssUnusedSymbol*/
.red-text {
    -fx-text-fill: red;
}

.separator {
    -fx-cursor: h_resize;
}

/* Tabs*/

.tab-pane {
    -fx-tab-min-height: 24px;
    -fx-tab-max-height: 24px;
    -fx-open-tab-animation: none;
    -fx-close-tab-animation: none;
}

.tab-pane .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 1px 0px 1px 2px;
    -fx-border-color: derive(darkgray, -10%);
}

.tab-pane .tab-header-area {
    -fx-padding: 1px 1px 3px 2px;
    -fx-background-color: linear-gradient(lightgray 0%, lightgray 88%, derive(darkgray, -10%) 89%, derive(darkgray, -10%) 91%, whitesmoke 91%, whitesmoke 100%);
}

.tab-pane .tab {
    -fx-background-color: derive(darkgray, 50%);
    -fx-background-radius: 0px;
    -fx-padding: 2px 5px;
    -fx-border-width: 0px 1px 1px 0px;
    -fx-border-color: derive(darkgray, -10%);
}

.tab-pane .tab:selected {
    -fx-background-color: whitesmoke;
    -fx-border-width: 0px 1px 1px 0px;
    -fx-border-color: whitesmoke derive(darkgray, -10%);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* TreeView */
.tree-cell {
    -fx-background-color: white;
}

.tree-cell:selected {
    -fx-background-color: cornflowerblue;
}

.tree-cell.root-element, .tree-cell.root-element:selected {
    -fx-background-color: derive(whitesmoke, -5%);
    -fx-font-weight: bold;
    -fx-font-size: 90%;
    -fx-padding: 2 -15;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-pref-height: 25px;
}

.tree-cell.root-element .ikonli-font-icon {
    -fx-icon-size: 16px;
    -fx-icon-color: grey;
}

.tree-cell.root-element .button:hover .ikonli-font-icon {
    -fx-icon-color: black;
}

/* Notifications */
.notification {
    -fx-border-width: 0px;
    -fx-font-family: monospace;
    -fx-font-weight: normal;
    -fx-font-size: 10px;
}

.warn-notification, .error-notification {
    -fx-text-fill: whitesmoke;
}

.notification > .ikonli-font-icon {
    -fx-icon-size: 22px;
}

.no-notification > .ikonli-font-icon {
    -fx-icon-code: gmi-notifications-none;
    -fx-icon-color: darkgray;
}

.log-notification > .ikonli-font-icon, .info-notification > .ikonli-font-icon, .warn-notification > .ikonli-font-icon {
    -fx-icon-code: gmi-notifications;
    -fx-icon-color: darkgray;
}

.info-notification > .ikonli-font-icon {
    -fx-icon-color: derive(greenyellow, -15%);
}

.warn-notification > .ikonli-font-icon {
    -fx-icon-color: darkorange;
}

.error-notification > .ikonli-font-icon {
    -fx-icon-code: gmi-notifications-active;
    -fx-icon-color: firebrick;
}

.hide-elements .html-editor-indent,
.hide-elements .html-editor-outdent,
.hide-elements .html-editor-cut,
.hide-elements .html-editor-copy,
.hide-elements .html-editor-paste,
.hide-elements .font-menu-button {
    visibility: hidden;
    -fx-focus-traversable: false;
    -fx-font-size: 1px;
    -fx-max-width: 0px;
    -fx-max-height: 0px;
    -fx-padding: -15px;
    -fx-pref-height: 0px;
    -fx-pref-width: 0px;
    -fx-start-margin: -5px;
}